@{
    ViewBag.Title = "About Lokham";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    There are a variety of methods to resolve variety of social issues. These include political processes, non-profit organizations,
    community groups and volunteering to have public dialogue on a social issue and arrive at a most acceptable solution.The Lokham provides a platform to race your voice against social concerns.
    The power of Lokham lies in creating networks of people facing similar issues, quickly enabling them to come up with answers and  will engage with the most critical issues of our time – from the escalating climate
    catastrophe to widespread inequality to the influence of big tech on our lives. At a time when factual information is a necessity, we believe that each of us, around the world, deserves access to accurate reporting with integrity at its heart.
    We hope you will consider supporting us today. We need your support to keep delivering reviews about each problem that’s open and independent.  Every reader contribution, however big or small, is so valuable.
</p>
