@{
    ViewBag.Title = "Contact Lokham Team";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Georgian Drive<br />
    Barrie, BA L4M 1A2<br />
    <abbr title="Phone">P:</abbr>
    705.791.0775
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:souravpatteri@gmail.com">souravpatteri@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:souravpatteri@gmail.com">souravpatteri@gmail.com</a>
</address>