@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Lokham</h1>
    <p class="lead">Talk about whats happening in the world right now</p>
    <p>@Html.ActionLink("About Lokham", "about", "Home")&raquo;</p>
</div>
<p>
    A social issue is an issue that impacts an impressive number of people.
    It is a part of society that individuals are worried about and might want to get it changed.
    The worry of a social issue might be objective or abstract.
    A social issue emerges because of differing assessments of people dependent on what is seen as right.
    Social issue doesn't really allude to an evil to be explained, however it might be a point to be talked about.
    Social issues can be distinctive for various gatherings, social orders, nations and world.
</p>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("View all Users", "index", "Users")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("View all Issues", "index", "Issues")</h2>
    </div>
    <p>@Html.ActionLink("Join Lokham today", "create", "Users") &raquo;</p>
</div>